<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Parker Stiles and Caitlin Estrada's Hack110 Project!</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <h1>Marvel Cinematic Universe Phases 1-3</h1>
        <h2>Phase 1</h2>
        {% for key in mcu_timeline %
            <br/>
            <h4>key</h4>
            <a href=""
        }
        <p>Where it all started.</p>
        <a href="/iron-man">Iron Man<br></a>
        <a href="/hulk">The Incredible Hulk</a><br>
        <a href="/iron-man-2">Iron Man 2</a><br>
        <a href="/thor">Thor</a><br>
        <a href="/captain-america-1">Captain America: The First Avenger</a><br>
        <a href="/avengers-1">The Avengers</a><br>
        <h2>Phase 2</h2>
        <p>Where it got complicated.</p>
        <a href="iron-man-3">Iron Man 3</a><br>
        <a href="/thor-2">Thor: The Dark World</a><br>
        <a href="/captain-america-2">Captain America: The Winter Soldier</a><br>
        <a href="/gotg">Guardians of the Galaxy</a><br>
        <a href="avengers-2">Avengers: Age of Ultron</a><br>
        <a href="ant-man">Ant Man</a><br>
        <h3>Phase 3</h3>
        <p>The end of the beginning.</p>
        <a href="captain-america-3">Captain America: Civil War</a><br>
        <a href="doctor-strange">Doctor Strange</a><br>
        <a href="gotg-2">Guardians of the Galaxy Vol. 2</a><br>
        <a href="spider-man-1">Spider-Man: Homecoming</a><br>
        <a href="thor-2">Thor: Ragnarok</a><br>
        <a href="black-panther">Black Panther</a><br>
        <a href="avengers-3">Avengers: Infinity War</a><br>
        <a href="ant-man-2">Ant-Man and the Wasp</a><br>
        <a href="captain-marvel">Captain Marvel</a><br>
        <a href="avengers-4">Avengers: Endgame</a><br>
        <a href="spider-man-2">Spider-Man: Far From Home</a><br>
        <a href="/create-todo">Create Todo!</a>
    </body>
</html>