<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Parker Stiles and Caitlin Estrada's Hack110 Project!</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <h1>Marvel Cinematic Universe Phases 1-3</h1>
        <h2>Phase 1</h2>
        <p>Where it all started.</p>
        <h2>Phase 2</h2>
        <p>Where it got complicated.</p>
        <h3>Phase 3</h3>
        <p>The end of the beginning.</p>
        <a href="/create-todo">Create Todo!</a>
    </body>
</html>